

img {
    width: 400px;
}



body {
    text-align: center;
}

body {
        background-image: url("https://images.pond5.com/simple-star-space-background-effect-footage-023768280_prevstill.jpeg ");
} 



body {
    text-align: center;
    font-family: "";
   
    color: white;
}

p {
    margin: 25px 300px 75px 300px;
}

p {
    font-size: 20px;
}
h1 {
    font-size: 40px;
}